.filter-bar-container {
    width: 100%;
    display: flex;
    flex-direction: column;    
    padding: 10px;
    background-color: #eee;
    gap: 20px;
}

.filters-header {
    display: flex;
    justify-content: center;
    padding: 18px;

}



.filter-toggle-btn:after {
    content: '\2193';
    font-size: 18px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: '\2191';
}

.filter-bar {
    display: block;

}

.btn-container {
    display: flex;
    justify-content: space-around;
    padding: 18px;
}

.filter-container {
    display: flex;
    flex-direction: column;
}