@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap');
@tailwind base;
@tailwind components;

.title {
    @apply text-black
}

.button {
    @apply rounded-lg text-sm px-10 py-2.5 cursor-pointer
}


.hidden.md\:inline-block {
  display: inline-block !important;
}

.block.md\:hidden {
  display: none !important;
}

.custom-pagination-bullet {
  margin-inline: 18px;
  color: lightslategray;
  cursor: pointer;
}

.swiper-pagination-bullet-active {
  color: white;
  background-color: transparent;
}

@tailwind utilities;

